<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097494656063-td22ckmt9psu1ichlp5me4kb1sgfjphm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097494656063-td22ckmt9psu1ichlp5me4kb1sgfjphm</string>
	<key>API_KEY</key>
	<string>AIzaSyBHkw2jv2wj8KsywMHwV2ViGuP7PYHzer0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097494656063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubaidillah.uchat</string>
	<key>PROJECT_ID</key>
	<string>uchat-ubai25</string>
	<key>STORAGE_BUCKET</key>
	<string>uchat-ubai25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097494656063:ios:c1f139cbf033da19a5b48a</string>
	<key>DATABASE_URL</key>
	<string>https://uchat-ubai25-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>